@import "../../../../components/GlobalStyle/GlobalStyle.scss";
.red {
  background-color: $red;
}
.black {
  background-color: $black;
}
.white {
  background-color: $white;
}
.gold {
  background-color: $gold;
}
.silver {
  background-color: $silver;
}
.spaceGray {
  background-color: $spaceGray;
}
.jetBlack {
  background-color: $jetBlack;
}
.roseGold {
  background-color: $roseGold;
}
.yellow {
  background-color: $yellow;
}
.green {
  background-color: $green;
}
.blue {
  background-color: $blue;
}
.purple {
  background-color: $purple;
}
.midnight {
  background-color: $midnight;
}
.starlight {
  background-color: $starlight;
}
.pink {
  background-color: $pink;
}
.midnightGreen {
  background-color: $midnightGreen;
}
.sierraBlue {
  background-color: $sierraBlue;
}
.graphite {
  background-color: $graphite;
}
.alpineGreen {
  background-color: $alpineGreen;
}
.naturalTitanium {
  background-color: $naturalTitanium;
}
.blueTitanium {
  background-color: $blueTitanium;
}
.whiteTitanium {
  background-color: $whiteTitanium;
}
