@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 1280px) {
  .container {
    max-width: 120rem;
  }
}
