.markdown-body {
  background: #fff;
  color: #515154;
  padding: 3rem;
  padding-bottom: 1rem;
  h2,
  h1,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    border: none;
    font-weight: bold;
    text-align: start;
  }
  a {
    color: #0066cc;
  }
  em {
    display: block;
    text-align: center;
  }
  li {
    list-style: initial;
  }
  img {
    width: 100%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
}
